breaks/high/.DS_Store
breaks/high/180_high_1.wav
breaks/high/RKU_BLN_172_BREAK037.wav
breaks/high/SAGD1_174_-_Fcuttin_Full_Break.wav
breaks/high/SULLIVAN_KING_drum_loop_live_05_170.wav
breaks/high/TSP_MODESTEP_V1_174_drum_clipped.wav
breaks/low/.DS_Store
breaks/low/180_low_1.wav
breaks/low/180_low_2.wav
breaks/low/BOS_DBK_174_Drum_Break_Loop_Amen_Style_Life.wav
breaks/low/DS_VDNB_170_drum_break_loop_tape.wav
breaks/low/DS_VDNB_176_drum_break_loop_radio_lagging.wav
breaks/low/KJS_BR1_170bpm_2Bar_Tight_3.wav
breaks/low/RKU_DSP_172_BREAK_023.wav
breaks/low/TEDDY_KILLERZ_172_drum_loop_kit_thatone_01.wav
breaks/low/TOTAL_SCIENCE_drum_loop_nu_skool_jungle_174.wav
breaks/low/TSP_MODESTEP_V1_174_breaks_tech.wav
breaks/low/TSP_MODESTEP_V1_174_drum_clapped_alt.wav
breaks/low/TSP_MODESTEP_V1_174_drum_garagey.wav
breaks/low/TSP_NOISIA_172_break_loop_gruncentral_heavy_seqchange.wav
breaks/low/TSP_NOISIA_V2_172_break_loop_drumles_blown.wav
breaks/low/TSP_SO_175_drum_live_lkwc_groovy.wav
breaks/low/Unclarity_Break_178.wav
breaks/medium/.DS_Store
breaks/medium/Bpm185_BrokenBreak_Roller_PL.wav
breaks/medium/edb_brk174_aahmen_fil.wav
breaks/medium/SAGD1_174_-_Ddl_Full_Break3.wav
breaks/medium/TSP_END_174_drum_break_off_beat_banger.wav
breaks/medium/TSP_MODESTEP_V1_174_breaks_toned.wav
breaks/medium/TSP_MODESTEP_V1_174_breaks_windit.wav
breaks/medium/TSP_MODESTEP_V1_174_drum_breakin.wav
breaks/medium/TSP_MODESTEP_V1_174_drum_driving.wav
output/export_file.mp3
output/lsd export 1.mp3
output/zombie export 1.mp3
postpunk/bass.wav
postpunk/drums.wav
postpunk/other.wav
postpunk/piano.wav
postpunk/vocals.wav
country roads.mp3
cyan hardcore.mp3
energy_sample.mp3
flesh and bone.mp3
hollywood baby.mp3
hotel california.mp3
lucy in the sky with diamonds.mp3
motion sickness.mp3
postpunk.mp3
zombie.mp3
audio_example.mp3
audio_example/bass.wav
audio_example/drums.wav
audio_example/other.wav
audio_example/piano.wav
audio_example/vocals.wav
